body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  text-align: center;
  padding: 20px;
}

.table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 10px;
}